* {
	box-sizing: border-box;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}


:root {
    --orange:rgb(247,182,23);
  }
/* reutilizables */

.center {
	text-align: center;
}

.line-height {
	line-height: 1.8;
}

.margin-lef {
	margin: 0 30px;
}

.margin-top {
	margin: 14px 0;
}

.padding-top {
	padding: 21px 0;
}

.padding-lef {
	padding: 0 21px;
}

.font-weight {
	font-weight: 700;
}
/* .inline {
	display:inline;
} */
/* 
.right {
	float: right;
}

.left {
float: left;
} */

/* header */

/* section register */

.register{
  background-image:url("../assets/images/taxi.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 120vh;
}

.box-register {
	background-color: var(--orange);
  margin-top:25vh; 
  padding: 35px;
  letter-spacing: 2px;
}

img.log-white {
  padding-left:14px;
  width: 80px;
}

.text-top {
	margin-top: -14px;
}
/* download */
.download {
	background-color: var(--orange);
}

.box {
	padding: 21px;
}

.box-mobile {
	border: solid 1px white;
}

/* driver */

.driver {
	background-image:url("../assets/images/conduce.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
	height: 450px;
}

.driver-text{
	background-color: rgba(0, 0, 0, 0.315);
	padding: 80px 21px 230px 21px;
}

/* rates */
.rates {
	background-color: var(--orange);
}

.img-map {
	height:60vh ;
	width: 100%;
	border:1px solid white;
	padding: 10px;
	margin: 35px 0;
	}
	

	/* footer */
 footer {
	background-color: rgb(43,43,43);
	padding-top: 21px;
 }



/* descktop */

@media (min-width: 992px) {
/* pseudoclase para las lineas */
	span.line::before {
	display: inline-block;
	height: 1px;
	margin-right: 35px;
	content: " ";
	background-color: white;
	width: 110px;
	}

	span.line::after {
	display: inline-block;
	height: 1px;
	content: " ";
	margin-left: 35px;
	background-color: white;
	width: 110px;
	}

	/* download desktop */
	.download {
		padding: 18px;
	}

	.box-download {
		border: white 1px solid;
		border-left: none;
		margin-left: -21px;
		box-sizing: border-box;
		margin-right:90px;
	}

	.box-mobile {
		border: none;
	}
	/* section driver */
	.driver-text{
	  background-color: rgba(0, 0, 0, 0.315);
	  padding: 60px 21px 21px;
	}

	/* footer */
	.flex-container {
		height:40vh;
		display: flex;
	}
	
	.flex-end{
		align-self: flex-end;
	}
	
	.icon-group {
		float: left !important;
	}
	
}