* {
	box-sizing: border-box;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}


:root {
    --orange:rgb(247,182,23);
  }
/* reutilizables */

.center {
	text-align: center;
}

.line-height {
	line-height: 2;
}

.margin-lef {
	margin: 0 30px;
}

.margin-top {
	margin: 14px 0;
}

.padding-top {
	padding: 21px 0;
}

.padding-lef {
	padding: 0 21px;
}

.font-weight {
	font-weight: 700;
}

/* section register */

.register{
  background-image:url("../assets/images/taxi.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
	background-size: cover;
	background-attachment: fixed;
  width: 100%;
  height: 120vh;
}

.box-register {
	background-color: var(--orange);
  margin-top:25vh; 
  padding: 35px;
  letter-spacing: 2px;
}

img.log-white {
  padding-left:14px;
  width: 90px;
}

.text-top {
	margin-top: -12px;
}

/* download */
.download {
	background-color: var(--orange);
	margin-bottom: 0;
}

.box {
	padding: 21px ;
	margin-bottom: 0;
}

.box-mobile {
	border: solid 1px white;
}

/* driver */

.driver {
	background-image:url("../assets/images/conduce.jpg");
  background-repeat: no-repeat;
  background-position: center center;
	background-size: cover;
	background-attachment: fixed;
  width: 100%;
	height: 450px;
}

.driver-text{
	box-sizing:border-box ;
	background-color: rgba(0, 0, 0, 0.39);
	height: 75vh;
}

/* rates */

.rates {
	background-color: var(--orange);
	height: 90vh auto;
}

.box-rates {
	margin-bottom:0; 
	}

.img-map {
	height:70vh ;
	width: 100%;
	border:1px solid white;
	padding: 10px;
	margin: 25px auto;
	}
	
#icon_prefix {
	border: 1px solid white;
	width: 75%;
	border-radius: 9px;
	height: 35px;
	}

::placeholder {
	color: white; 
}

/* footer */
footer {
	background-color: rgb(43,43,43);
	margin: 0 auto;
}

.icon-g {
	display: inline;
	padding: 0 7px ;
}

ul li:hover {
	color: rgb(247,182,23);
	font-size: 18px;
	font-weight: 700;
}
/* descktop */

@media (min-width: 992px) {
/* header */
	
/* pseudoclase para las lineas */
	span.line::before {
	display: inline-block;
	height: 1px;
	margin-right: 35px;
	content: " ";
	background-color: white;
	width: 110px;
	}

	span.line::after {
	display: inline-block;
	height: 1px;
	content: " ";
	margin-left: 35px;
	background-color: white;
	width: 110px;
	}

	/* download desktop */
	.download {
		padding: 18px;
	}

	.box-download {
		border: white 1px solid;
		border-left: none;
		margin-left: -21px;
		box-sizing: border-box;
		margin-right:90px;
	}

	.box-mobile {
		border: none;
	}
	/* section register */

	.box-register {
		float: right !important;
	}
	/* section driver */
	.driver-text{
		background-color: rgba(0, 0, 0, 0.315);
		height: 40vh;
		padding-top: 50px !important;
	}

	/* footer */
	.flex-container {
		height:40vh;
		display: flex;
	}
	
	.flex-end{
		align-self: flex-end;
	}
	
	.icon-group {
		float: left !important;
	}
	
}
